In [1]:
import pandas as pd
import numpy as np

In [2]:
#load ECG dataset
df = pd.read_csv('data/data.csv',index_col=None,header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,119,120,121,122,123,124,125,126,127,128
0,0.86963,0.70884,0.021742,0.106310,0.122850,0.122840,0.106740,0.109360,0.111490,0.123990,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0
1,0.83733,0.66053,0.073337,0.083486,0.263450,0.310620,0.341160,0.363130,0.364380,0.369560,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0
2,0.77360,0.67521,0.151150,0.011496,0.043060,0.086020,0.070106,0.083915,0.089777,0.095606,...,-0.001303,0.000573,-0.000394,0.0,0.0,0.0,0.0,0.0,0.0,0
3,0.80228,0.29937,0.006945,0.111050,0.037744,0.063651,0.038509,0.053223,0.048136,0.047216,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0
4,0.88790,0.59505,0.032376,0.178530,0.080367,0.113220,0.085669,0.096944,0.092185,0.096117,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0

In [3]:
oof = pd.DataFrame(np.zeros((100,129)))
for i in range(100):
    r = np.random.randint(0, high=df.shape[0])
    oof.loc[i] = df.iloc[r,:].values
    df = df.drop(r, axis=0)
    
oof.head()

,0,1,2,3,4,5,6,7,8,9,...,119,120,121,122,123,124,125,126,127,128
0,0.74538,0.40512,0.128420,0.099474,0.114200,0.103230,0.105870,0.106610,0.112800,0.127750,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.74866,0.72859,0.383160,0.197020,0.045909,0.076691,0.081215,0.079596,0.074503,0.074752,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.82901,0.59209,0.016027,0.053118,0.098701,0.094618,0.081813,0.091729,0.088893,0.091431,...,0.000396,-0.000277,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.83462,0.52939,0.070495,0.168920,0.103080,0.118290,0.091153,0.102890,0.094212,0.098071,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.83817,0.82017,0.297060,0.246950,0.201970,0.244970,0.217150,0.232860,0.220050,0.223310,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [4]:
oof.to_csv('data/oof.csv')
df.to_csv('data/data_train.csv')